<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Yeboster</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header class="flex flex-col items-center p-4 border-b-2">
        <%# LOGO %>
        <nav class="flex flex-col md:inline-block text-center" role="navigation">
          <%= link "Home", to: "/", class: "mx-2 text-gray-600" %>
          <%= link "About", to: "/about", class: "mx-2 text-gray-600" %>
          <%= link "Inspiration", to: "/inspiration", class: "mx-2 text-gray-600" %>
          <%= link "Contact", to: "/contact", class: "mx-2 text-gray-600" %>
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <%= link "Live Dashboard", to: Routes.live_dashboard_path(@conn, :home), class: "mx-2 text-gray-600" %>
          <% end %>
        </nav>
    </header>
    <main role="main" class="container text-center">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
