DATABASE_URL=postgresql://yeboster:changeme@db/yeboster_prod
SECRET_KEY_BASE=Gxamf2rNgbYH2Zssnx2vi60KHAIfHdTAXf9vxmY7aaHFU+YnvewF/WFBvn6srk8G
LIVE_VIEW_SIGNING_SALT=PbGnwzh05l0xA6GSo5wwvPmer2xXDmzR3dld4NNb66CHsD3C7Z5m0cHKmQU
