<div>
  <div class="mt-5 text-4xl uppercase gradient-background">Let's Keep in touch</div>
  <div class="mt-10">
    Is there something you want to ask me, make a project together or just to say hello? Then I would love to hear from you!
    <br>
    You can send me an <a class="gradient-text" href="mailto:yeboster@gmail.com?subject=Hello There!">email</a> or find me out on <a class="gradient-text" href="https://www.linkedin.com/in/yeboster/" target="_blank">LinkedIn</a>
  </div>
</div>
