<div>
  <div class="mt-5 text-4xl uppercase gradient-background">Let's Keep in touch</div>
  <div class="mt-10">
    Are you interested in what I do, or do you share some common passions? Let's keep in touch!
    <br>
    You can send me an <a class="gradient-text" href="mailto:marco@yeboster.com?subject=Hello There!">email</a>, contact me on <a class="gradient-text" href="https://twitter.com/yeboster" target="_blank">Twitter</a> or find me out on <a class="gradient-text" href="https://www.linkedin.com/in/yeboster/" target="_blank">LinkedIn</a>
  </div>
</div>
