<div class="h-full flex flex-col justify-center">
  <div class="py-10 gradient-background">
    <div class="mb-5 text-6xl uppercase">Yeboster</div>
    <div class="text-xl">Build Together to Live Forever</div>
  </div>
</div>
