<div>
  <h1 class="mt-5 text-4xl uppercase gradient-text">Inspiration & Knowledge</h1>
  <div class="mt-10">
      <%= live_component @socket, YebosterWeb.KnowledgeLive.FunFactComponent, id: "fun_fact" %>
  </div>
</div>
